<header class="navbar navbar-fixed-top navbar-inverse">
      <nav>
        <ul>
          
          <% if signed_in_? %>
          <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "Users", users_path %></li>
              
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
         
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
           
          <% end %>
        </ul>
      </nav>
</header>
